.content {
    max-width: 800px;
    padding-left: 10px;
    margin: 0 auto;
}

.content h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.image {
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
