.home-page {
    margin: 10px;
}

.blocks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.block {
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.block:hover {
    transform: translateY(-5px);
}

.block a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

.block-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.block-name {
    font-size: 18px;
}

@media (max-width: 768px) {
    .blocks {
        grid-template-columns: repeat(1, 1fr); /* Change to two columns on smaller screens */
    }

    .home-page {
        padding: 10px;
    }
}
